body{
    background-image: url("https://bit.ly/2SQ0jyI");
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    font-family: 'Sriracha', cursive;
}
.button{
    border: 1px solid black;
    border-radius:30%; 
    display: inline-block;
    padding-right: 0%;
    padding-left: 0%;
    font-size: 30px;
    justify-content: center;
    background-color: aqua;
}
h1{
    padding-top: 30%;
}
