{% extends "layout.html" %}
{% block content %}
<h1>Mysteries Novels</h1>
<div class="d-flex justify-content-center flex-wrap mb-5 pt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3 m-2" style="width: 18rem;">
                <img src="https://bit.ly/38GSJNQ" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Woman In White</h5>
                    <p class="card-text">The Woman in White is Wilkie Collins's fifth published novel, written in 1859.
                        It is considered to be among the first mystery novels and is widely regarded as one of the first
                        (and finest) in the genre of "sensation novels".</p>
                    <div class="container">
                        <small>Rate here</small>
                        <div class="rating">
                            <!--elements are in reversed order, to allow "previous sibling selectors" in CSS-->
                            <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                            <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                            <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                            <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                            <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                        </div>
                    </div>
                    <a href="https://www.amazon.com/s?k=The+Woman+in+White&i=audible&tag=x_gr_w_bb_audible-20&ref=x_gr_w_bb_audible-20"
                        class="btn btn-primary">Get A Copy</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 m-2" style="width: 18rem;">
                <img src="https://bit.ly/2V5EtKC" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The DeadStorm</h5>
                    <p class="card-text">Dead Storm is a classic techno-thriller in every sense of the word - a
                        pulse-pounding military epic that not only pits nation against nation... it thrusts the entire
                        world into a desperate battle for survival - against bloodthirsty zombies!
                        Welcome to the latest blockbuster novel by Nicholas Ryan. ‘Dead Storm - the Global Zombie
                        Apocalypse’ is a book like few others in the genre. It’s a vast, global novel with
                        techno-thriller detail and intense battle scenes on land, and on the high seas.
                        The book is crammed full of epic action, and every sequence oozes gripping authenticity.
                        content.</p>
                    <div class="container">
                        <small>Rate here</small>
                        <div class="rating">
                            <!--elements are in reversed order, to allow "previous sibling selectors" in CSS-->
                            <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                            <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                            <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                            <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                            <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                        </div>
                    </div>
                    <a href="https://www.amazon.com/Dead-Storm-Masters-Thriller-Book/dp/B01NGT8IU8"
                        class="btn btn-primary">Get A Copy</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3" style="width: 18rem;">
                <img src="https://bit.ly/2SXOVRG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Murder on the clifftops</h5>
                    <p class="card-text">The Girl with the Dragon Tattoo (original title in Swedish: Män som hatar
                        kvinnor; in English: Men Who Hate Women) is a psychological thriller novel by Swedish author and
                        journalist Stieg Larsson (1954–2004), which was published posthumously in 2005 to become an
                        international bestseller.[1] It is the first book of the Millennium series..</p>
                    <div class="container">
                        <small>Rate here</small>
                        <div class="rating">
                            <!--elements are in reversed order, to allow "previous sibling selectors" in CSS-->
                            <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                            <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                            <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                            <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                            <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                        </div>
                    </div>
                    <a href="https://www.amazon.com/hz/audible/mfpdp/B07JGGY79N?ref=tmm_aud_title_0"
                        class="btn btn-primary">Get A Copy</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="https://bit.ly/38JeIUq" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Forgotten Letters</h5>
                    <p class="card-text">A cache of unsent love letters from the 1950s is found in a suitcase on a
                        remote island in this mysterious love story by top ten bestselling author, Kayte Nunn

                        1951. Esther Durrant, a young mother, is committed to an isolated mental asylum by her husband.
                        Run by a pioneering psychiatrist, the hospital is at first Esther's prison but soon becomes her
                        refuge.
                        .</p>
                    <div class="container">
                        <small>Rate here</small>
                        <div class="rating">
                            <!--elements are in reversed order, to allow "previous sibling selectors" in CSS-->
                            <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                            <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                            <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                            <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                            <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                        </div>
                    </div>
                    <a href="https://www.amazon.com/Forgotten-Letters-Esther-Durrant-ebook/dp/B07KXT6BFC"
                        class="btn btn-primary">Get A Copy</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="https://bit.ly/2HDWJm8" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Ice</h5>
                    <p class="card-text">When Sandy Lipton and her unborn child disappeared, the court of public opinion
                        found young Chris Matheson guilty. Decades later, the retired FBI agent returns home to discover
                        that the cloud of suspicion cast over him and his family has never lifted.

                        With the help of a team of fellow retired law enforcement officers, each a specialist in their
                        own field of investigation, Chris Matheson starts chipping away at the ice on this cold case to
                        uncover what had happened to Sandy and her baby and the clues are getting hot! </p>
                    <div class="container">
                        <small>Rate here</small>
                        <div class="rating">
                            <!--elements are in reversed order, to allow "previous sibling selectors" in CSS-->
                            <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                            <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                            <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                            <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                            <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                        </div>
                    </div>
                    <a href="https://www.goodreads.com/en/book/show/37907887-ice" class="btn btn-primary">Get A Copy</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3" style="width: 18rem;">
                <img src="https://bit.ly/2SGqPvR" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Mad Haters Son</h5>
                    <p class="card-text">The Mad Hatter's Son is a gripping tale of love, friendship, betrayal, and
                        unexpected twists and turns that leave you unable to pull away. Annie Collins is an OR nurse who
                        is used to caring for others--both inside the operating room, and in her own personal life. So
                        it isn't a surprise when she is drawn--albeit unwillingly--into the chaos that is her long-time
                        friend Libby Crowder's life.</p>
                    <div class="container">
                        <small>Rate here</small>
                        <div class="rating">
                            <!--elements are in reversed order, to allow "previous sibling selectors" in CSS-->
                            <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                            <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                            <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                            <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                            <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                        </div>
                    </div>
                    <a href="https://www.goodreads.com/en/book/show/36330290-the-mad-hatter-s-son"
                        class="btn btn-primary">Get A Copy</a>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}