{% extends "layout.html" %}
{% block content %}
<h1>Romantic Novels</h1>
<div class="d-flex justify-content-center flex-wrap mb-5 pt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="https://bit.ly/39It3QM" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Beautiful Disaster</h5>
                    <p class="card-text">The new Abby Abernathy is a good girl. She doesn’t drink or swear, and she has
                        the appropriate number of cardigans in her wardrobe. Abby believes she has enough distance from
                        the darkness of her past, but when she arrives at college with her best friend, her path to a
                        new beginning is quickly challenged by Eastern University's Walking One-Night Stand.
                        Travis Maddox, lean, cut, and covered in tattoos, is exactly what Abby needs—and wants—to avoid.
                        He spends his nights winning money in a floating fight ring, and his days as the ultimate
                        college campus charmer. Intrigued by Abby’s resistance to his appeal, Travis tricks her into his
                        daily life with a simple bet. If he loses, he must remain abstinent for a month. If Abby loses,
                        she must live in Travis’s apartment for the same amount of time. Either way, Travis has no idea
                        that he has met his match</p>
                    <div class="container">
                        <small>Rate here</small>
                        <div class="rating">
                            <!--elements are in reversed order, to allow "previous sibling selectors" in CSS-->
                            <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                            <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                            <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                            <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                            <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                        </div>
                    </div>
                    <a href="https://www.goodreads.com/book/show/11505797-beautiful-disaster"
                        class="btn btn-primary">Get A Copy</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="https://bit.ly/3bSbrnJ" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Kiss Thief</h5>
                    <p class="card-text">They say your first kiss should be earned.

                        Mine was stolen by a devil in a masquerade mask under the black Chicago sky.

                        They say the vows you take on your wedding day are sacred.
                        Mine were broken before we left church.
                        They say your heart only beats for one man.
                        Mine split and bled for two rivals who fought for it until the bitter end.
                        I was promised to Angelo Bandini, the heir to one of the most powerful families in the Chicago
                        Outfit.
                        Then taken by Senator Wolfe Keaton, who held my father’s sins over his head to force me into
                        marriage.
                        They say that all great love stories have a happy ending.
                        I, Francesca Rossi, found myself erasing and rewriting mine until the very last chapter.
                        One kiss.
                        Two men.
                        Three lives.
                        Entwined together.
                        And somewhere between these two men, I had to find my forever..
                    </p>
                    <div class="container">
                        <small>Rate here</small>
                        <div class="rating">
                            <!--elements are in reversed order, to allow "previous sibling selectors" in CSS-->
                            <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                            <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                            <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                            <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                            <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                        </div>
                    </div>
                    <a href="https://www.goodreads.com/book/show/41450662-the-kiss-thief" class="btn btn-primary">Get A
                        Copy</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="https://bit.ly/3bNutLQ" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">One Final Breath</h5>
                    <p class="card-text">Investigator Gabe Chavez and Dive Team Captain Anissa Bell have a complicated
                        history. But when Anissa's fractured past collides with Gabe's investigation of a shooting, they
                        must work together to catch the murderer before someone else dies.</p>
                    <div class="container">
                        <small>Rate here</small>
                        <div class="rating">
                            <!--elements are in reversed order, to allow "previous sibling selectors" in CSS-->
                            <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                            <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                            <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                            <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                            <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                        </div>
                    </div>
                    <a href="https://www.goodreads.com/en/book/show/43838187-one-final-breath"
                        class="btn btn-primary">Get A Copy</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="https://bit.ly/3bThw2X" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Over The Line</h5>
                    <p class="card-text">Gabriella has never forgiven her former fiancé, homicide detective Eli Cavazos,
                        for breaking her heart. Then a man she’s never met shows up at her restaurant, a bullet in his
                        chest and her brother’s name on his lips. Gabby soon realizes this man is connected to a
                        powerful ring of criminals who know far too much about her.

                        Against her better judgment, Gabby turns to Eli for help in finding her brother. When she
                        receives a cryptic text from her brother’s cell phone, she realizes she is in deep and may be
                        dragging Eli down with her. With her brother nowhere to be found and pain from her past
                        threatening to overwhelm her, Gabby wonders how she will make it through this unexpected quest
                        unscathed—or alive.

                        Taking us into the heat of Laredo, Texas, the secrets of a gun-smuggling ring, and the tensions
                        on both sides of the border, Over the Line will keep you guessing until the last page.
                        .</p>
                    <div class="container">
                        <small>Rate here</small>
                        <div class="rating">
                            <!--elements are in reversed order, to allow "previous sibling selectors" in CSS-->
                            <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                            <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                            <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                            <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                            <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                        </div>
                    </div>
                    <a href="https://www.goodreads.com/en/book/show/42766298-over-the-line" class="btn btn-primary">Get
                        A Copy</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="https://bit.ly/2V3IJKn" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mine To Protect</h5>
                    <p class="card-text">A standalone, romantic thriller novel where obsession is the name of the game.

                        Recruited to the FBI Cas Mathews has one focus - catch the killer. That's until officer Alta
                        Johnson shoves her way on to the team, making him fantasize about the delicious curves she hides
                        beneath her park ranger uniform. Alta’s natural beauty catches his immediate attention, but the
                        strength behind her fierce gaze is what holds him captive - demanding he learns more about her.

                        As the team grows close, the serial killer shifts focus putting them all in danger. Cas should
                        walk away before their sizzling attraction distracts him and gets them both killed. But as the
                        threat pushes Cas and Alta closer, the temptation turns too hot for either to resist.

                        With their focus diverted the threat zeroes in, catching everyone off guard. Figuring out the
                        players in the killer's cat and mouse game is key to Alta’s survival. Cas swore he would protect
                        her but with the clues carefully hidden, can he figure it out before Alta disappears for good? !
                    </p>
                    <div class="container">
                        <small>Rate here</small>
                        <div class="rating">
                            <!--elements are in reversed order, to allow "previous sibling selectors" in CSS-->
                            <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                            <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                            <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                            <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                            <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                        </div>
                    </div>
                    <a href="https://www.goodreads.com/en/book/show/42766298-over-the-line" class="btn btn-primary">Get
                        A Copy</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="https://bit.ly/39LajjM" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Well Met</h5>
                    <p class="card-text">All's faire in love and war for two sworn enemies who indulge in a harmless
                        flirtation in a laugh-out-loud rom-com from debut author, Jen DeLuca.

                        Emily knew there would be strings attached when she relocated to the small town of Willow Creek,
                        Maryland, for the summer to help her sister recover from an accident, but who could anticipate
                        getting roped into volunteering for the local Renaissance Faire alongside her teenaged niece? Or
                        that the irritating and inscrutable schoolteacher in charge of the volunteers would be so
                        annoying that she finds it impossible to stop thinking about him?

                        The faire is Simon's family legacy and from the start he makes clear he doesn't have time for
                        Emily's lighthearted approach to life, her oddball Shakespeare conspiracy theories, or her
                        endless suggestions for new acts to shake things up. Yet on the faire grounds he becomes a
                        different person, flirting freely with Emily when she's in her revealing wench's costume. But is
                        this attraction real, or just part of the characters they're portraying?

                        This summer was only ever supposed to be a pit stop on the way to somewhere else for Emily, but
                        soon she can't seem to shake the fantasy of establishing something more with Simon, or a
                        permanent home of her own in Willow Creek.</p>
                    <div class="container">
                        <small>Rate here</small>
                        <div class="rating">
                            <!--elements are in reversed order, to allow "previous sibling selectors" in CSS-->
                            <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                            <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                            <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                            <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                            <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                        </div>
                    </div>
                    <a href="https://www.goodreads.com/book/show/43189874-well-met" class="btn btn-primary">Get A
                        Copy</a>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock content %}