{% extends "layout.html" %}
{% block content %}
<div class="d-flex justify-content-center flex-wrap mb-5 pt-4">
    <div class="row">
        <div class="col-md-4">
            <h1>Thrillers Novels</h1>
            <div class="card mb-3">
                <img src="https://bit.ly/2SUBrWR" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Other Mrs</h5>
                    <p class="card-text">Propulsive and addictive, The Other Mrs. is the twisty new psychological
                        thriller from Mary Kubica, the New York Times bestselling author of The Good Girl.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <img src="https://bit.ly/2SGDXRJ" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Wives</h5>
                    <p class="card-text">New York Times bestselling author Tarryn Fisher delivers a pulse-pounding,
                        fast-paced suspense novel that will leave you breathless. A thriller you won’t be able to put
                        down!
                        Thursday’s husband, Seth, has two other wives. She’s never met them, and she doesn’t know
                        anything about them. She agreed to this unusual arrangement because she’s so crazy about him.

                    </p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="https://bit.ly/38JdHLV" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Careful What You Wish For</h5>
                    <p class="card-text">Emily Harlow is a professional organizer who helps people declutter their
                        lives; she’s married to man who can’t drive past a yard sale without stopping. He’s filled their
                        basement, attic, and garage with his finds.
                        Like other professionals who make a living decluttering peoples’ lives, Emily has devised a set
                        of ironclad rules. When working with couples, she makes clear that the client is only allowed to
                        declutter his or her own stuff. That stipulation has kept Emily’s own marriage together these
                        past few years. She’d love nothing better than to toss out all her husband’s crap. He says he’s
                        a collector. Emily knows better—he’s a hoarder. The larger his “collection” becomes, the deeper
                        the distance grows between Emily and the man she married..</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="https://bit.ly/3bKtz2N" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Look Alike</h5>
                    <p class="card-text">From the New York Times bestselling author of The Other Girl and Justice for
                        Sara comes a thrilling psychological drama about a woman who believes she escaped a brutal
                        murder years ago—but does anyone else believe her?

                        Sienna Scott grew up in the dark shadow of her mother’s paranoid delusions. Now, she's returned
                        home to confront her past and the unsolved murder that altered the course of her life.

                        In her mother’s shuttered house, an old fear that has haunted Sienna for years rears its ugly
                        head —that it was she who had been the killer’s target that night. And now, with it, a new
                        fear—that the killer not only intended to remedy his past mistake—he’s already begun. But are
                        these fears any different from the ones that torment her mother?


                        .</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="https://bit.ly/2SYehPm" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Click</h5>
                    <p class="card-text">Who is it really hiding behind the screen?

                        A gripping read that will stay with you long after the final page, perfect for fans of FRIEND
                        REQUEST and HE SAID/SHE SAID.

                        Eva arrives at university ready to escape her past. She wants a new life, a new personality. But
                        old habits creep in and she finds herself alone, online, watching the digital lives of others.

                        One profile in particular captures Eva’s attention: that of her glamorous classmate, Marina. As
                        Eva’s obsession builds, she becomes drawn into a web of lies, danger and suspicion. Because
                        Marina’s perfectly filtered life isn’t what it seems.

                        What is Marina hiding? And behind the screen, who is Eva really – her friend, a stranger, or an
                        enemy?

                        It only takes a click to find out.! </p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="https://bit.ly/2SGqPvR" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Mad Haters Son</h5>
                    <p class="card-text">The Mad Hatter's Son is a gripping tale of love, friendship, betrayal, and
                        unexpected
                        twists and turns that leave you unable to pull away. Annie Collins is an OR nurse who is used to
                        caring
                        for others--both inside the operating room, and in her own personal life. So it isn't a surprise
                        when
                        she is drawn--albeit unwillingly--into the chaos that is her long-time friend Libby Crowder's
                        life.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock content %}